@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color: #4d4d4d;
    font-family: 'Roboto', sans-serif;
}

header {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.app-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.calc {
    width: 315px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #202020;
    border-radius: 15px;
}

.calc-screen {
    width: 300px;
    height: 140px;
    color: #fff;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 5px;
}

.previous-operand {
    font-size: 1rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 87%);
}

.current-operand {
    font-size: 2rem;
    font-weight: bold;
    width: 300px;
    word-wrap: break-word;
    word-break: break-all;
}

.calc-grid-wrapper {
    width: 320px;
    display: flex;
    justify-content: center;
}

.calc-buttons-wrapper {
    width: 300px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

button {
    width: 70px;
    height: 70px;
    background-color: #323232;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}
button:nth-child(1){
    grid-column: span 2 / span 2;
    width: 145px;
}
button:nth-child(2){
    grid-column: span 2 / span 2;
    width: 145px;
}
button:nth-child(19) {
    grid-column: span 2 / span 2;
    width: 145px;
}

button:hover {
    background-color: #434343;
}

footer {
    color: white;
}